@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
}

.container{
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
}

.container .cartao{
    position: relative;
    width: 45%;
    height: 400px;
    background: white;
    display: flex;
    margin: 30px 0;
}

.container .cartao .imagem-caixa{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #333;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.container .cartao:hover .imagem-caixa{
    width: 150px;
    height: 150px;
    left: -75px;
    top: calc(50% - 75px);
    transition: 0.5s ease-in-out;
    background: #ff0057;
}

.container .cartao .imagem-caixa:before{
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 6em;
    color: rgba(255, 255, 255, 0.05);
    font-weight: 700;
}

.container .cartao .imagem-caixa i{
    font-size: 8vw;
    color:whitesmoke;
    transition: 0.5s ease-in-out;
}

.container .cartao:hover .imagem-caixa i{
    font-size: 5vw;
}

.container .cartao .conteudo{
    position: absolute;
    right: 0;
    width: calc(100% - 75px);
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content:center;
    align-items:center
}

.container .cartao .conteudo h3{
    margin-bottom: 5px;
    font-size: 24px;
}

.container .cartao .conteudo a{
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background: #333;
    text-decoration: none;
    color: white;
}

@media (max-width: 1170px){
    .container{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .container .cartao{
        width: 600px;
    }
}

@media (max-width: 770px){
    .container .cartao{
        max-width: 300px;
        flex-direction: column;
        height: auto;
    }

    .container .cartao .imagem-caixa{
        position: relative;
    }

    .container .cartao .imagem-caixa,
    .container .cartao:hover .imagem-caixa{
        width: 100%;
        height: 200px;
        left: 0;
    }

    .container .cartao .imagem-caixa i,
    .container .cartao:hover .imagem-caixa i{
        max-width: 10vw;
    }
    
    .container .cartao .conteudo{
        position: relative;
        width: 100%;
    }
    

}
